# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Streamlit
.streamlit/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db

# Build
build/
dist/

# Logs
*.log

# Uploaded files
uploads/*
!uploads/.gitkeep